pytorch_lightning==2.0.5
numpy==1.24.4
pandas==2.0.3
regex==2023.8.8
scikit-learn==1.3.0
scipy==1.10.1
tabulate==0.9.0
tqdm==4.66.1
loguru==0.7.1
retrying==1.3.4
tensorboard==2.14.0
pyyaml==6.0.1
prettytable==3.8.0
easydict==1.10
catboost==1.2.1
category_encoders
transformers==4.28.1
datasets==2.14.4
spacy==3.7.0
optimum==1.13.2
onnx==1.14.1
onnxruntime-gpu==1.16.1
uvicorn[standard]==0.23.2
gunicorn
fastapi==0.103.2